# igonre output/intermediate directories
doc/html
doc/latex
bin
moc

# ignore temporary swap files
*.sw?
*.tmp

# ignore BLOBs
*.ppm
*.mp4

# ignore clic index.db
index.db

# ignore moc intermediate files
moc_*.cxx
ui_*.h

# igonre cmake cache
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
